@charset "UTF-8";
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
body {
  background-color: #161616;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px; }

* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.full-width {
  width: 100% !important; }

.clearfix:after, .container:after, .main-header:after, .main-header .main-nav:after, .main-header .right-controls:after, .booking-promo:after, .search-holder form label:after, .address-item:after, .main-footer:after, .gray-bg:after, .content .breadcrumbs:after {
  content: '';
  display: table;
  clear: both; }

.container {
  max-width: 1500px !important;
  margin: 0 auto;
  position: relative;
  height: 100%; }

.icon {
  display: inline-block; }

.link, .content .breadcrumbs a, .content article a {
  color: #f4343a !important;
  text-decoration: none !important;
  position: relative;
  display: inline-block !important; }
  .link:after, .content .breadcrumbs a:after, .content article a:after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: width, 0.3s; }
  .link:hover, .content .breadcrumbs a:hover, .content article a:hover {
    color: #c42126 !important; }
    .link:hover > h2, .content .breadcrumbs a:hover > h2, .content article a:hover > h2 {
      color: #c42126 !important; }
    .link:hover:after, .content .breadcrumbs a:hover:after, .content article a:hover:after {
      background: rgba(196, 33, 38, 0.5);
      width: 100%; }

form .form-control {
  background-color: #252525;
  border: 0;
  color: #fff;
  padding: 6px 10px 8px;
  line-height: 1;
  border-radius: 0; }

.btn {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  border-radius: 0;
  cursor: pointer; }
  .btn.red {
    color: white !important;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #dd2f35;
    padding: 10px 30px;
    display: inline-block;
    transition: background-color, 0.2s; }
    .btn.red:after {
      display: none !important; }
    .btn.red:hover {
      background-color: #941215;
      color: white !important; }
    .btn.red.border {
      background-color: rgba(0, 0, 0, 0.3);
      color: #dd2f35;
      border: 1px #dd2f35 solid; }
      .btn.red.border:hover {
        background: #000; }
  .btn.black {
    background: #000;
    padding: 9px 10px;
    color: #afafaf;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    min-height: 38px; }

h2.red {
  color: #f4343a;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif; }

.main-header {
  background-color: #1d1d1d;
  transform: translate3d(0, 0, 0);
  transition-property: transform;
  transition-duration: .3s;
  transition-timing-function: ease-out; }
  .main-header .mobile-nav-toggle {
    display: none;
    float: right; }
    .main-header .mobile-nav-toggle .btn-toggle {
      border: none;
      background: none;
      background-image: url(../images/spritesheet.png);
      background-position: 0px -131px;
      width: 50px;
      height: 50px;
      height: 40px;
      cursor: pointer; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .main-header .mobile-nav-toggle .btn-toggle {
          background-image: url(../images/spritesheet-2x.png);
          background-size: 408px 181px; } }
  .main-header .logo {
    float: left;
    margin-top: 45px;
    margin-bottom: 25px;
    padding-left: 35px;
    width: 320px; }
    .main-header .logo-lg {
      background-image: url(../images/spritesheet.png);
      background-position: 0px 0px;
      width: 200px;
      height: 68px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .main-header .logo-lg {
          background-image: url(../images/spritesheet-2x.png);
          background-size: 408px 181px; } }
  .main-header .main-nav {
    float: left;
    margin-top: 65px; }
    .main-header .main-nav a {
      float: left;
      color: #fff;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 18px;
      line-height: 1;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      margin: 0 15px;
      transition: color, 0.2s; }
      .main-header .main-nav a.active, .main-header .main-nav a:hover {
        color: #f4343a; }
      .main-header .main-nav a:first-child {
        margin-left: 0; }
  .main-header .right-controls {
    float: right;
    margin-top: 10px;
    margin-right: 35px; }
    .main-header .right-controls .btn.black {
      margin-left: 10px; }
    .main-header .right-controls a {
      float: left; }
    .main-header .right-controls .dropdown {
      float: left;
      position: relative; }
      .main-header .right-controls .dropdown .icon {
        margin-bottom: -4px; }
      .main-header .right-controls .dropdown .lang-de {
        background-image: url(../images/spritesheet.png);
        background-position: -205px -41px;
        width: 30px;
        height: 22px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .main-header .right-controls .dropdown .lang-de {
            background-image: url(../images/spritesheet-2x.png);
            background-size: 408px 181px; } }
      .main-header .right-controls .dropdown .lang-ru {
        background-image: url(../images/spritesheet.png);
        background-position: -275px -41px;
        width: 30px;
        height: 22px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .main-header .right-controls .dropdown .lang-ru {
            background-image: url(../images/spritesheet-2x.png);
            background-size: 408px 181px; } }
      .main-header .right-controls .dropdown .lang-en {
        background-image: url(../images/spritesheet.png);
        background-position: -240px -41px;
        width: 30px;
        height: 22px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .main-header .right-controls .dropdown .lang-en {
            background-image: url(../images/spritesheet-2x.png);
            background-size: 408px 181px; } }
      .main-header .right-controls .dropdown.active .dropdown-menu {
        position: absolute;
        display: block;
        right: 0;
        left: 10px;
        top: 38px;
        background: #000; }
        .main-header .right-controls .dropdown.active .dropdown-menu ul {
          list-style: none;
          padding: 0;
          margin: 0;
          padding-top: 4.5px; }
          .main-header .right-controls .dropdown.active .dropdown-menu ul li {
            display: inline-block; }
            .main-header .right-controls .dropdown.active .dropdown-menu ul li a {
              display: inline-block;
              padding: 4.5px 10px; }

.mobile-navigation {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #1d1d1d;
  width: calc(100% - 50px);
  overflow: auto;
  transform: translate3d(100%, 0, 0);
  transition-property: transform;
  transition-duration: .3s;
  transition-timing-function: ease-out; }
  .mobile-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .mobile-navigation ul a {
      text-decoration: none; }
  .mobile-navigation > ul > li {
    border-bottom: 1px #000 solid;
    position: relative; }
    .mobile-navigation > ul > li .submenu-toggle {
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
      height: 50px;
      padding: 0;
      padding-top: 10px;
      padding-right: 13px;
      padding-left: 13px; }
      .mobile-navigation > ul > li .submenu-toggle:after {
        content: '';
        display: inline-block;
        background-image: url(../images/spritesheet.png);
        background-position: -310px -41px;
        width: 14px;
        height: 8px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .mobile-navigation > ul > li .submenu-toggle:after {
            background-image: url(../images/spritesheet-2x.png);
            background-size: 408px 181px; } }
    .mobile-navigation > ul > li > a {
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      color: #f4343a;
      text-transform: uppercase;
      padding: 13px;
      display: inline-block;
      width: 100%; }
    .mobile-navigation > ul > li.active > a {
      color: #fff; }
    .mobile-navigation > ul > li.active .submenu-toggle:after {
      background-image: url(../images/spritesheet.png);
      background-position: -329px -41px;
      width: 14px;
      height: 8px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .mobile-navigation > ul > li.active .submenu-toggle:after {
          background-image: url(../images/spritesheet-2x.png);
          background-size: 408px 181px; } }
    .mobile-navigation > ul > li.active .submenu {
      visibility: visible;
      opacity: 1;
      height: auto; }
  .mobile-navigation .submenu {
    background: #161616;
    height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: opacity, 0.3s; }
    .mobile-navigation .submenu a {
      color: #a02326;
      font-size: 18px;
      font-family: "Open Sans Condensed", sans-serif;
      padding: 13px;
      display: inline-block;
      width: 100%; }
    .mobile-navigation .submenu li {
      border-top: 1px #000 solid; }
      .mobile-navigation .submenu li.active a {
        color: #fff; }

html.sidebar-active {
  overflow: hidden; }
  html.sidebar-active body {
    overflow: hidden; }
    html.sidebar-active body > .container {
      overflow: hidden; }
      html.sidebar-active body > .container > .main-header {
        transform: translate3d(calc( -100% + 50px), 0, 0); }
      html.sidebar-active body > .container .mobile-navigation {
        display: block;
        transform: translate3d(0, 0, 0); }

.booking-promo {
  display: flex; }

.search-holder {
  width: 320px;
  padding: 30px 10px 0;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-flow: row wrap;
  background: #000;
  float: left; }
  .search-holder iframe {
    width: 100%; }
  .search-holder h2.red {
    margin: 0;
    line-height: 1; }
  .search-holder form {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .search-holder form label {
      margin-top: 18px;
      display: block; }
      .search-holder form label span {
        color: #afafaf;
        font-weight: 300;
        line-height: 30px;
        display: block; }
    .search-holder form .data {
      float: left;
      width: 48%; }
    .search-holder form .time {
      float: right;
      width: 48%; }
  .search-holder .btn.red {
    margin-top: 45px; }

.promo {
  position: relative;
  width: calc(100% - 320px);
  overflow: hidden;
  line-height: 1;
  font-size: 0;
  float: right; }
  .promo-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    min-height: 200px; }
  .promo-descr {
    position: absolute;
    text-align: center;
    bottom: 25px;
    left: 0;
    right: 0; }
    .promo-descr p {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
      color: white;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px; }
  .promo img {
    width: 100%;
    min-height: 450px;
    min-width: 890px; }

.phones {
  background: #252525;
  display: flex;
  justify-content: center; }
  .phones .item {
    text-align: center;
    margin: 0 6px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 33%; }
    .phones .item span {
      color: #afafaf;
      font-size: 16px; }
    .phones .item p {
      color: #fff;
      font-size: 25px;
      margin: 0; }
    .phones .item.left {
      text-align: left; }
    .phones .item.right {
      text-align: right; }

.service {
  background: #252525;
  display: flex;
  justify-content: center;
  padding: 0 6px;
  padding-bottom: 50px; }
  .service-item {
    margin: 0 6px;
    width: 33%; }
    .service-item .item-body {
      background: #1d1d1d;
      clear: both; }
      .service-item .item-body img {
        width: 100%; }
    .service-item .item-footer {
      background: #1d1d1d;
      padding: 30px 20px;
      text-align: center; }
      .service-item .item-footer h2.red {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1; }
      .service-item .item-footer p {
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        margin-bottom: 0; }

.address {
  background: #252525;
  padding-bottom: 45px;
  display: flex;
  justify-content: center; }
  .address .map {
    margin-right: 69px;
    display: inline-block;
    vertical-align: top; }
  .address-list {
    width: 372px;
    display: inline-block;
    vertical-align: top; }
  .address-item:first-child > .link, .content .breadcrumbs .address-item:first-child > a, .content article .address-item:first-child > a {
    margin-top: 0; }
  .address-item > .link, .content .breadcrumbs .address-item > a, .content article .address-item > a {
    margin: 21px 0;
    clear: both; }
  .address-item h2.red {
    font-size: 25px;
    margin: 0; }
  .address-item p {
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; }
    .address-item p a {
      color: #f4343a;
      text-decoration: none; }
  .address-item .col-left {
    float: left; }
  .address-item .col-right {
    float: right; }

.rent {
  background: url("../images/rent-bg.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 145px 0;
  text-align: center; }
  .rent .wrapper {
    max-width: 710px;
    margin: 0 auto; }
  .rent h2.white {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    font-size: 40px;
    font-weight: 300;
    line-height: 45px;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    color: #fff;
    margin-top: 0; }
  .rent p {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0; }
  .rent .btn {
    margin-top: 46px; }

.catalog {
  background-image: linear-gradient(to top, #ddd 0%, white 50%, #ddd 100%);
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative; }
  .catalog .title {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 35px; }
    .catalog .title h2 {
      font-size: 60px;
      font-weight: 300;
      text-transform: uppercase;
      font-family: "Open Sans Condensed", sans-serif;
      display: inline-block;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 40px; }
    .catalog .title p {
      margin: 0;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px; }
  .catalog .descr {
    text-align: center;
    margin-top: 30px; }
    .catalog .descr h2 {
      margin: 0;
      line-height: 1; }
  .catalog .slider {
    text-align: center; }
    .catalog .slider-wrapper {
      position: relative;
      max-width: 955px;
      margin: 0 auto; }
    .catalog .slider img {
      margin: 0 auto; }
  .catalog .arrays {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%; }
    .catalog .arrays .slick-arrow {
      font-size: 0;
      border: 0;
      background-color: transparent;
      padding: 0;
      cursor: pointer; }
      .catalog .arrays .slick-arrow:before {
        content: '';
        display: inline-block;
        background-image: url(../images/spritesheet.png);
        background-position: -355px -73px;
        width: 13px;
        height: 25px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .catalog .arrays .slick-arrow:before {
            background-image: url(../images/spritesheet-2x.png);
            background-size: 408px 181px; } }
      .catalog .arrays .slick-arrow.slick-next {
        float: right; }
        .catalog .arrays .slick-arrow.slick-next:before {
          background-image: url(../images/spritesheet.png);
          background-position: -373px -73px;
          width: 13px;
          height: 25px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .catalog .arrays .slick-arrow.slick-next:before {
              background-image: url(../images/spritesheet-2x.png);
              background-size: 408px 181px; } }

.service-descr {
  position: relative;
  background: #252525;
  overflow: hidden;
  display: flex;
  align-items: center; }
  .service-descr .left-col {
    width: 50%;
    line-height: 1;
    font-size: 0;
    position: absolute;
    top: 0;
    bottom: 0; }
    .service-descr .left-col img {
      height: 100%;
      float: right; }
  .service-descr .right-col {
    width: 100%;
    padding: 60px 35px;
    padding-left: calc(50% + 35px); }
    .service-descr .right-col h2.lg {
      color: white;
      font-size: 40px;
      line-height: 45px;
      font-weight: 300;
      text-transform: uppercase;
      font-family: "Open Sans Condensed", sans-serif;
      margin-top: 0; }
    .service-descr .right-col p {
      color: #afafaf;
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      margin-top: 0; }
    .service-descr .right-col h3 {
      color: white;
      font-size: 20px;
      font-weight: 300;
      line-height: 25px;
      text-transform: uppercase;
      font-family: "Open Sans Condensed", sans-serif; }

.contacts {
  background: #1d1d1d;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between; }
  .contacts .logo {
    display: inline-block;
    vertical-align: top; }
    .contacts .logo .logo-md {
      background-image: url(../images/spritesheet.png);
      background-position: -115px -73px;
      width: 130px;
      height: 44px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .contacts .logo .logo-md {
          background-image: url(../images/spritesheet-2x.png);
          background-size: 408px 181px; } }
  .contacts .phone-item {
    display: inline-block;
    vertical-align: top; }
    .contacts .phone-item p {
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      color: #afafaf; }
      .contacts .phone-item p span {
        color: #fff; }

.full-navigation {
  background: #161616;
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  padding-top: 50px;
  padding-bottom: 50px; }
  .full-navigation .col {
    display: inline-block;
    vertical-align: top;
    width: 165px; }
    .full-navigation .col ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left; }
      .full-navigation .col ul li {
        padding-bottom: 18px; }
        .full-navigation .col ul li:last-child a {
          margin-bottom: 0; }
    .full-navigation .col .link, .full-navigation .col .content .breadcrumbs a, .content .breadcrumbs .full-navigation .col a, .full-navigation .col .content article a, .content article .full-navigation .col a {
      margin-bottom: 21px; }
    .full-navigation .col h2 {
      margin: 0;
      line-height: 1; }
    .full-navigation .col a {
      color: #852528;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      text-decoration: none;
      display: inline-block;
      position: relative; }
      .full-navigation .col a:after {
        content: '';
        width: 0;
        height: 1px;
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        transition: width, 0.3s; }
      .full-navigation .col a:hover {
        color: #c42126 !important; }
        .full-navigation .col a:hover:after {
          background: rgba(196, 33, 38, 0.5);
          width: 100%; }

.our-partners {
  background: #161616;
  padding-bottom: 30px; }
  .our-partners .title {
    margin: 0 35px;
    margin-bottom: 25px;
    position: relative;
    display: flex; }
    .our-partners .title .left-line {
      background: url("../images/partners-title-left-part-sm.png") no-repeat;
      width: 31px;
      height: 18px; }
    .our-partners .title .right-line {
      background: url("../images/partners-title-right-part-left.png") no-repeat;
      width: 50px;
      height: 18px;
      display: flex;
      flex: 1;
      position: relative; }
      .our-partners .title .right-line:before {
        content: '';
        height: 18px;
        position: absolute;
        right: 30px;
        left: 30px;
        top: 0;
        bottom: 0;
        background: #2e2e2e; }
      .our-partners .title .right-line:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: -5px;
        background: url("../images/partners-title-right-part.png") right top no-repeat;
        width: 37px; }
    .our-partners .title h2.gray {
      margin: 0;
      color: #afafaf;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 1;
      text-transform: uppercase;
      margin-top: -1px;
      margin-left: 10px;
      margin-right: 10px; }
  .our-partners .partners-list {
    list-style: none;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .our-partners .partners-list:after {
      display: none; }
    .our-partners .partners-list li {
      display: inline-block;
      vertical-align: middle; }
      .our-partners .partners-list li a {
        display: inline-block;
        vertical-align: top; }

.main-footer {
  background: #1d1d1d;
  padding: 0 35px;
  padding-top: 34px;
  padding-bottom: 39px; }
  .main-footer .left-col {
    font-size: 13px;
    font-weight: 400;
    color: #e5e5e5;
    float: left;
    margin-top: 10px; }
    .main-footer .left-col ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-block;
      vertical-align: top; }
      .main-footer .left-col ul li {
        display: inline-block;
        vertical-align: top;
        margin-left: 35px; }
    .main-footer .left-col a {
      color: #f4343a;
      text-decoration: none; }
  .main-footer .right-col {
    float: right; }
    .main-footer .right-col span {
      display: inline-block;
      vertical-align: middle;
      color: #e5e5e5;
      font-size: 13px;
      font-weight: 400; }
    .main-footer .right-col a {
      display: inline-block;
      vertical-align: middle; }
    .main-footer .right-col .farm-inline-logo {
      background-image: url(../images/spritesheet.png);
      background-position: -205px 0px;
      width: 203px;
      height: 36px;
      margin-left: 10px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .main-footer .right-col .farm-inline-logo {
          background-image: url(../images/spritesheet-2x.png);
          background-size: 408px 181px; } }

.gray-bg {
  background: #252525; }

.sidebar {
  float: left;
  width: 26%;
  padding-left: 35px;
  padding-bottom: 95px; }
  .sidebar .widget {
    margin-top: 70px; }
  .sidebar .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .sidebar .navigation a {
    color: #f4343a;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
    padding: 15px 0;
    display: inline-block;
    transition: color, 0.3s; }
  .sidebar .navigation li.active a, .sidebar .navigation li:hover a {
    color: #fff; }

.content {
  float: left;
  padding: 0;
  padding-bottom: 97px;
  width: 54%; }
  .content .breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    display: block; }
    .content .breadcrumbs li {
      float: left; }
    .content .breadcrumbs a {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 300;
      line-height: 1.4;
      color: #f4343a;
      margin-left: 16px;
      text-decoration: underline;
      position: relative; }
      .content .breadcrumbs a:before {
        content: '»';
        color: #969696;
        display: inline-block;
        position: absolute;
        right: -10px;
        top: -2px;
        bottom: 0; }
      .content .breadcrumbs a:hover {
        text-decoration: none; }
    .content .breadcrumbs li.active a {
      color: #fff !important;
      text-decoration: none !important; }
      .content .breadcrumbs li.active a:before {
        display: none; }
      .content .breadcrumbs li.active a:hover:after {
        display: none; }
    .content .breadcrumbs li:first-child a {
      margin-left: 2px; }
  .content article {
    color: #fff; }
    .content article .btn.red {
      min-width: 240px;
      margin-top: 20px;
      margin-bottom: 30px;
      text-align: center; }
  .content h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 55px;
    margin: 0;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    padding-top: 30px;
    padding-bottom: 25px; }
  .content h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 45px;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 20px; }
  .content h3 {
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 15px; }
  .content h4 {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 12px; }
  .content h5 {
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    margin: 0;
    padding-top: 0;
    padding-bottom: 30px; }
  .content a {
    color: #f4343a;
    text-decoration: none; }
    .content a:hover {
      text-decoration: underline; }
  .content p {
    color: #afafaf;
    padding-bottom: 10px;
    margin: 0; }
    .content p.white {
      color: #fff; }
  .content .title-group {
    margin-bottom: 23px; }

.page-media {
  font-size: 0;
  line-height: 1; }
  .page-media img {
    width: 100%;
    height: auto; }

.topba {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#gmap_canvas {
  height: 100%;
  width: 100%; }

#overgmap {
  height: 450px;
  width: 100%;
  overflow: hidden; }

@media (max-width: 1060px) {
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9; }
    .main-header:before {
      content: '';
      display: block;
      position: absolute;
      bottom: -10px;
      background: url("../images/shadow.png") top center no-repeat;
      height: 10px;
      left: 0;
      right: 0;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%; }
    .main-header .logo {
      margin-top: 10px;
      padding-left: 10px;
      font-size: 0;
      line-height: 1;
      width: auto;
      margin-bottom: 6px; }
      .main-header .logo .logo-lg {
        background-image: url(../images/spritesheet.png);
        background-position: -250px -73px;
        width: 100px;
        height: 34px; } }
      @media (max-width: 1060px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1060px) and (min-resolution: 192dpi) {
        .main-header .logo .logo-lg {
          background-image: url(../images/spritesheet-2x.png);
          background-size: 408px 181px; } }

@media (max-width: 1060px) {
    .main-header .main-nav {
      display: none; }
    .main-header .mobile-nav-toggle {
      display: block;
      position: relative;
      z-index: 1; }
    .main-header .right-controls {
      margin-top: 6px;
      margin-right: 2px; }
  .booking-promo, .page-media {
    margin-top: 50px; } }

@media (max-width: 1000px) {
  .booking-promo {
    flex-direction: column; }
    .booking-promo .search-holder {
      width: 100%;
      padding: 35px 10px 45px; }
      .booking-promo .search-holder form {
        width: 100%; }
    .booking-promo .promo {
      width: 100%;
      min-height: 200px; }
      .booking-promo .promo-img {
        position: relative;
        width: 100%; }
      .booking-promo .promo-descr {
        position: relative;
        bottom: 0;
        display: inline-block;
        vertical-align: top;
        background-color: #1d1d1d;
        padding: 0 10px 25px;
        width: 100%; }
  .address-item .col-left {
    float: none; }
  .address-item .col-right {
    float: none; }
  .rent {
    padding-top: 50px; }
    .rent h2.white {
      font-size: 30px;
      font-weight: 300;
      line-height: 35px;
      text-transform: uppercase; }
    .rent p {
      padding: 0 15px; }
    .rent .btn.red {
      margin-left: 10px;
      margin-right: 10px;
      line-height: 25px; }
  .catalog {
    padding-top: 40px;
    padding-bottom: 50px; }
    .catalog .title {
      padding-left: 15px;
      padding-right: 15px; }
    .catalog img {
      max-width: 100%; }
    .catalog .arrays {
      display: none; }
  .service-descr {
    display: block; }
    .service-descr .left-col {
      width: 100%;
      position: relative;
      text-align: center; }
      .service-descr .left-col img {
        float: none;
        max-width: 100%; }
    .service-descr .right-col {
      width: 100%;
      padding: 50px 10px 90px; }
      .service-descr .right-col h2.lg {
        font-size: 30px;
        line-height: 35px; }
  .contacts {
    display: block;
    text-align: center; }
    .contacts .logo {
      margin-bottom: 10px; }
    .contacts .phone-item {
      display: block;
      margin-bottom: 25px; }
  .full-navigation {
    display: block;
    text-align: center; }
    .full-navigation li {
      text-align: center; }
    .full-navigation .col {
      margin-bottom: 20px;
      display: block;
      width: auto;
      margin-left: auto;
      margin-right: auto; }
  .our-partners {
    display: block;
    overflow: hidden; }
    .our-partners .title {
      margin: 0 10px 25px;
      width: calc(100% - 50px); }
      .our-partners .title:before {
        display: none; }
      .our-partners .title:after {
        right: -30px;
        width: 137px; }
    .our-partners .partners-list {
      display: block;
      text-align: center; }
      .our-partners .partners-list li {
        width: 100%;
        margin-bottom: 40px; }
  .main-footer {
    text-align: center; }
    .main-footer .left-col {
      float: none; }
      .main-footer .left-col ul {
        display: block;
        margin-bottom: 20px; }
        .main-footer .left-col ul li {
          display: block;
          margin-left: 0;
          padding-bottom: 10px;
          padding-top: 10px; }
    .main-footer .right-col {
      float: none; }
      .main-footer .right-col .farm-inline-logo {
        margin-left: 0;
        background-image: url(../images/spritesheet.png);
        background-position: 0px -73px;
        width: 110px;
        height: 53px; } }
      @media (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1000px) and (min-resolution: 192dpi) {
        .main-footer .right-col .farm-inline-logo {
          background-image: url(../images/spritesheet-2x.png);
          background-size: 408px 181px; } }

@media (max-width: 1000px) {
      .main-footer .right-col a {
        display: block;
        margin-top: 10px; }
  .sidebar {
    display: none; }
  .content {
    float: none;
    width: 100%;
    padding: 0 10px 95px;
    display: inline-block;
    vertical-align: top; } }

@media (max-width: 978px) {
  .phones {
    display: block;
    padding: 25px 0; }
    .phones .item {
      display: inline-block !important;
      width: 100%;
      text-align: center !important;
      margin: 25px 0; }
  .service {
    display: block; }
    .service-item {
      width: 50%;
      margin: 0 auto; } }

@media (max-width: 760px) {
  .address {
    display: block;
    padding: 0 10px; }
    .address .map {
      margin-right: 0;
      width: 100%;
      text-align: center;
      padding: 0 10px; }
      .address .map img {
        max-width: 100%;
        height: auto; }
    .address-list {
      margin: 50px auto;
      width: auto;
      max-width: 372px; } }

@media (max-width: 550px) {
  #overgmap {
    height: 250px; }
  .service-item {
    width: 100%; } }

.dropdown-menu {
  display: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
